body {
    font-family: "Arial";
    background-color: rgb(248,248,248);
}
a {
    color: rgb(32,34,37);
    text-decoration: none;
}
header nav ul {
    color: rgb(249,246,249);
    list-style-type: none;
    margin: 0;
    padding: 8px;
}
header nav ul a {
    color: rgb(249,246,249);
    font-size: 16pt;
    display: block;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
#box {
    background-color: rgb(32,34,37);
    border-color: rgb(32,34,37);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    z-index: -1;
}
