article {
    font-size: 16pt;
    color: rgb(32,34,37);
    position: fixed;
    top: 125px;
    margin-left: 5%;
    margin-right: 5%;
    height: 80%;
    width: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}
article img {
    display: block;
    margin: 0px auto;
    max-width: 50%;
}
article a {
    text-decoration: underline;
}