body {
    font-family: "Lucida Sans Unicode";
    background-color: rgb(248,248,248);
}
a {
    color: rgb(71,72,75);
    text-decoration: none;
}
a.current {
    text-decoration: underline;
}
article {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
article ul {
    color: rgb(71,72,75);
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    width: 100%;
}
article ul a {
    text-decoration: underline;
}
footer {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%)
}
footer nav ul {
    font-size: 16pt;
    color: rgb(71,72,75);
    list-style-type: none;
    margin: 0;
    padding: 8px;
}
footer nav ul a {
    display: block;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px
}
h1 {
    text-align: center;
    font-family: "Lucida Sans Unicode";
    color: rgb(71,72,75);
    font-size: 30pt;
}