body {
    font-family: "Lucida Sans Unicode";
    background-color: rgb(47,49,54);
    overflow-y: scroll;
    overflow-x: hidden;
}
a {
    color: rgb(249,246,249);
    text-decoration: none;
}
a.current {
    text-decoration: underline;
}
article {
    color: rgb(249,246,249);
    margin: 3%;
    padding: 8px;
}
article ul {
    color: rgb(249,246,249);
    list-style-type: none;
    text-align: left;
    padding-left: 0;
    width: 100%;
}